{{title 'OSF Task Management' separator=' | '}}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    {{#link-to "index" class="navbar-brand"}}Home{{/link-to}}
    {{#link-to "me" class="navbar-brand"}}Profile{{/link-to}}
</nav>
{{outlet}}
