<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Options:</h2>
      <h4>{{#link-to "groups"}}Manage groups{{/link-to}}</h4>
      <h4>{{#link-to "tasks"}}Run tasks{{/link-to}}</h4>
    </div>
  </div>
</div>
