<div class="container">
    <div class="row">
        <div class="col-md-12">
            Full name: {{model.fullName}}
            <br>
            ID: {{model.id}}
            <br>
            Osf Link: <a href="https://staging.osf.io/{{model.id}}">osf.io/{{model.id}}</a>
        </div>
    </div>
</div>
