<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{inline-user user=model.id}}
            <br>
            Osf Link: <a href="https://staging.osf.io/{{model.id}}">osf.io/{{model.id}}</a>
        </div>
    </div>
</div>
